sudo: false
cache: pip

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml # because pip installation is slow

language: python

stages:
  - linting
  - test

python:
  - "2.7"

jobs:
  include:
    - stage: linting
      name: "Pre-Commit"
      python: 3.6
      install: pip install pre_commit
      script: pre-commit run --all

env:
  - VERSION="10.0" LINT_CHECK="1"
  - VERSION="10.0" ODOO_REPO="OCA/OCB" LINT_CHECK="0"
  - VERSION="10.0" ODOO_REPO="odoo/odoo" LINT_CHECK="0"
  - VERSION="10.0" UNIT_TEST="1" LINT_CHECK="0"


install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - mv .isort.cfg .isoft.cfg.disabled # to avoid trouble with pylint odoo
  - travis_run_tests

after_success:
- travis_after_tests_success
