odoo-test-helper >= 1.1.0

algoliasearch>=2.0,<3.0
unidecode

# tests
vcrpy-unittest

odoo-addon-connector_search_engine @ git+https://github.com/OCA/search-engine.git@refs/pull/207/head#subdirectory=setup/connector_search_engine
