# TMP dependency to include https://github.com/akretion/odoo-test-helper/pull/1
git+git://github.com/simahawk/odoo-test-helper.git@master#egg=odoo-test-helper

algoliasearch<2.0.0
elasticsearch>=7.0.0,<8.0.0
unidecode

# tests
vcrpy-unittest
