interactions:
- request:
    body: '{"requests": [{"action": "addObject", "body": {"active": true, "child_ids":
      [{"child_ids": [], "country_id": {"code": "US", "name": "United States"}, "email":
      "docbrown@future.com", "id": 96, "name": "Doc Brown"}], "color": 0, "country_id":
      {"code": "US", "name": "United States"}, "credit_limit": 0.0, "lang": "en_US",
      "name": "Marty McFly", "id": 1, "objectID": "IamAnObjectID"}}]}'
    headers:
      Content-Type: [gzip]
      X-Algolia-API-Key: [fd2b23ce63aebd599a738a8a558dbcdd]
      X-Algolia-Application-Id: [RQJXD7ZPFA]
    method: POST
    uri: https://rqjxd7zpfa.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/batch
  response:
    body: {string: '{"objectIDs":["IamAnObjectID"],"taskID":1662548861}

        '}
    headers:
      Content-Disposition: [inline; filename=a.txt]
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
