interactions:
- request:
    body: null
    headers:
      Content-Type: [gzip]
      X-Algolia-API-Key: [856fbe3fbd5f6cc3b9d765c92e80de83]
      X-Algolia-Application-Id: [GH41KF783Z]
    method: POST
    uri: https://gh41kf783z.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/clear
  response:
    body: {string: '{"updatedAt":"2019-03-28T16:14:35.726Z", "taskID":10958352292}

        '}
    headers:
      Content-Disposition: [inline; filename=a.txt]
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"requests": [{"body": {"objectID": "foo"}, "action": "addObject"}]}'
    headers:
      Content-Type: [gzip]
      X-Algolia-API-Key: [856fbe3fbd5f6cc3b9d765c92e80de83]
      X-Algolia-Application-Id: [GH41KF783Z]
    method: POST
    uri: https://gh41kf783z.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/batch
  response:
    body: {string: '{"objectIDs":["foo"],"taskID":10845016740}

        '}
    headers:
      Content-Disposition: [inline; filename=a.txt]
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [gzip]
      X-Algolia-API-Key: [856fbe3fbd5f6cc3b9d765c92e80de83]
      X-Algolia-Application-Id: [GH41KF783Z]
    method: GET
    uri: https://gh41kf783z-dsn.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/browse
  response:
    body: {string: '{"hits":[{"objectID":"foo"}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":1000,"processingTimeMS":1,"query":"","params":""}

        '}
    headers:
      Content-Disposition: [inline; filename=a.txt]
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
